Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-multiple-new-in-one-expression,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-stringview-data,
  -bugprone-unsafe-functions,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.VAList,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-use-internal-linkage,
  -readability-avoid-const-params-in-decls,
  -readability-avoid-nested-conditional-operator,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-function-size,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
WarningsAsErrors: true
HeaderFilterRegex: '^src/'
CheckOptions:
  bugprone-suspicious-include.FlagHeaderFileExtensions: false
  performance-move-const-arg.CheckTriviallyCopyableMove: false
FormatStyle: file
